<%- model_class = NakshatraDate -%>
<div class="page-header">
  <h1><%=t '.title', :default => NakshatraDate %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:nakshatra_date) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @nakshatra_dates.each do |nakshatra_date| %>
      <tr>
        <td><%= nakshatra_date.id %></td>
        <td><%= nakshatra_date.nakshatra_date %></td>
        <td><%=l nakshatra_date.created_at, format: :long %></td>
        <td>
          <%= link_to 'View', nakshatra_date_path(nakshatra_date), :class => 'btn btn-xs' %>
          <%= link_to 'Edit', edit_nakshatra_date_path(nakshatra_date), :class => 'btn btn-xs' %>
          <%= link_to 'Delete', nakshatra_date_path(nakshatra_date), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_nakshatra_date_path,
            :class => 'btn btn-primary' %>
