<h1>Listing nakshatra_dates</h1>

<table>
  <thead>
    <tr>
      <th>Nakshatra date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nakshatra_dates.each do |nakshatra_date| %>
      <tr>
        <td><%= nakshatra_date.nakshatra_date %></td>
        <td><%= link_to 'Show', nakshatra_date %></td>
        <td><%= link_to 'Edit', edit_nakshatra_date_path(nakshatra_date) %></td>
        <td><%= link_to 'Destroy', nakshatra_date, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nakshatra date', new_nakshatra_date_path %>
