<h1>Listing checkup_records</h1>

<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th>User</th>
      <th>Height</th>
      <th>Weight</th>
      <th>Mental assessment</th>
      <th>Physical assessment</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checkup_records.each do |checkup_record| %>
      <tr>
        <td><%= checkup_record.patient %></td>
        <td><%= checkup_record.user %></td>
        <td><%= checkup_record.height %></td>
        <td><%= checkup_record.weight %></td>
        <td><%= checkup_record.mental_assessment %></td>
        <td><%= checkup_record.physical_assessment %></td>
        <td><%= checkup_record.notes %></td>
        <td><%= link_to 'Show', checkup_record %></td>
        <td><%= link_to 'Edit', edit_checkup_record_path(checkup_record) %></td>
        <td><%= link_to 'Destroy', checkup_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Checkup record', new_checkup_record_path %>
