<%= form_for @patient, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label 'Name *', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Date of Birth *', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.date_select :date_of_birth, {:start_year => 2008, :end_year => Date.today.year} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Father Name *", :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :fathers_name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :mothers_name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :mothers_name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :address, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :address, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Mobile *', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :mobile, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :landline, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :landline, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :present_complaints, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :present_complaints, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Gender *', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.select :gender, [Patient::Gender::MALE, Patient::Gender::FEMALE], {}, {:class => 'form-control'} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :blood_group, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.select :blood_group, Patient::BloodGroup::ALL, {}, {:class => 'form-control'} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Center *', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.select :distribution_center_id, DistributionCenter.all.collect {|p| [ p.name, p.id ] }, {}, {:class => 'form-control'} %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  patients_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
